.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem;
}

h1 {
  padding: 1rem;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25px;
}

.item-name {
  width: 60%;
}

.edit-container,
.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: red;
  font-size: 1.1rem;
  cursor: pointer;
}

.active {
  background-color: yellow;
}

.input-container {
  margin-top: 2rem;
  margin-left: 1rem;
}
