.tooltip-span {
  color: blue;
  font-weight: 600;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  width: 135px;
  text-align: center;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  display: none;
  margin: 1rem;
  padding: 0.3rem;
}
